# Dependencies
node_modules/
.pnp
.pnp.js

# Logs
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store

# Next.js
.next/
out/

# Env
.env
.env.local
.env.*.local

# Editor
.idea/
.vscode/
*.swp
*.swo

# Coverage
coverage/

# Build
dist/
build/

# Misc
*.tgz
